<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/canvas.css'%}">
    <!-- <link rel="stylesheet" href="canvas.css"> -->


</head>
<body>


    <div class="modal " id="modalPartirUser">
        <div class="modal-dialog modal-fullscreen">
  
          <div class="modal-content">
  
            <div class="modal-header">
              <h5 class="modal-title" id="ModalBDLabel">Queayranne</h5>
              
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             
                <div id="divQCanvas">
                    <canvas id="canvasQ" width="800" height="400"  style="border:8px solid black"></canvas>
                </div>
               <div>
                  <button id="act">Actualizar posiciones</button>
               </div>


               <div id="btnsGroupOptions">
                <div id="parteA">
          
                </div>
                <div id="parteB">
                  
                </div>
                <form id="formularioPartirUser" action="/PartirUser/" method="POST">{% csrf_token %}
                  <button id="btnPassJsonJsToPy2"  class="btn btn-success " style="display: none">Hacer</button>
                </form>
                
                <!-- <button id="btnhacer" class="btn btn-success ">hacer</button> -->
              </div>
            </div>
            <div class="modal-footer">
             
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
              <a href="volverPrincipal/" class="btn btn-danger " >Volver</a>
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
              <!-- <button type="button" id="guardarMatriz" class="btn" data-bs-dismiss="modal">Guardar cambios</button> -->
             
            </div>
          </div>
        </div>
      </div>

      <input type="hidden" id="inputAristas" value={{menorAristas}} >

      
    

    <!-- pasar json del grafo y las aristas con menos perdida -->

    <script>
      var data2= JSON.parse("{{q|escapejs}}")
      var aristasQuitar= JSON.parse("{{Arts|escapejs}}")
    </script>


    
    

    
   <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
   <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

   <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

    

    <script src="{% static 'js/canvasPartirUser.js' %}"></script>
   <!-- <script src="canvasPrueba.js"></script> -->
   
</body>
</html>